* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(58, 114, 160)

}

body {
    padding-left: 20px;
    background-color: bisque;
    margin: 10%;
}

.ozadje {
    background-color: rgb(231, 240, 239);
    padding: 20px 5% 10%px 5%;
    text-align: center;
    padding-bottom: 20px;
}

.button li{
    list-style: none;
    border: 4px solid #1c3ea36d;
    padding: 10px; 
    margin: 0px 50px 20px 50px;
    background-color: rgb(195, 196, 196);
    color: rgb(253, 254, 255);
}

.shrooms {
    width: 50%;
    padding-bottom: 50px;
    margin-top: 50px;
}

.backbutton {
    border: 4px solid #1c3ea36d;
    padding: 10px; 
    margin: 0px 50px 20px 50px;
    background-color: rgb(195, 196, 196);
    color: rgb(253, 254, 255);
}


h1 {
    color: rgb(98, 95, 238);
    padding-top: 50px;
}

h3 {
    color: rgb(25, 175, 112);
}


ul li {
    text-align: justify;
    color:rgb(37, 120, 95)
}



ol li {
    color: rgb(236, 113, 31);
}



